
<ul>
  <li>
    <h1><%= @piece.artist.name %> - "<%= @piece.name %>"<h1>
    </li>
    <li>
      last seen <%= time_ago_in_words(@piece.updated_at) %> - <%= @piece.location %>

    </li>
    <li>
      <div class="piece-edit">
        <% if current_user %>
        <%= link_to "Edit details..", edit_piece_path  %>
        <% else %>
        <br><%= link_to "log in to comment, edit or add favorite", "/login" %>
        <% end %>
      </div>
    </li>
    <% @piece.pics.each do |pic| %>
    <li>
      <%= image_tag pic.url, :size => "800X600"  %>
    </li>
    <% end %>
    <div class="piece-favorite">
     <% if current_user && Favorite.where(:user_id => current_user[:id], :piece_id => @piece.id) == [] %>
     <%= form_for [@piece, @favorite] do |f| %>
     <%= f.submit "favorite" %>
     <% end %>
     <% end %>
   </div>

   <div class="comments: ">
    <p>comments</p>
    <% comments = Comment.where(:piece_id => @piece.id) %>
    <% comments.each do |comment| %>
    <%= comment.entry %> -
    <%= comment.user.username %> -
    <%= time_ago_in_words(comment.updated_at) %><br>
    <% end %>
    <!--TODO if session[:id] -->
    <% if current_user %>
    <%= form_for [@piece, @comment] do |f| %>
    <%= f.text_area :entry, size: "400x10" %>
    <%= f.submit "Submit Comment" %>
    <% end %>
    <% end %>
  </div>
</ul>