<h1>location Search</h1>

<%= form_for(@location) do |f| %>
<%= f.label :location %>
<%= f.text_field :location %>
<%= f.submit "Submit" %>
<% end %>


<div id="gmap">
  <%= gmaps4rails(@json) %>
</div>


